@import '../../node_modules/bootstrap/scss/bootstrap.scss';


main {
  .cities {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2%;
  }

  #ranking {
    margin-right: 3%;
    margin-left: 1%
  }

  .border .rounded {
    display:flex;
  }

  #restaurant {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  #most{
    margin-bottom: 2%;
  }
  
}